body {
  margin: 0;
  padding: 0;
  background-image: url(red.jpg);
  background-size: cover;
}
.info {
  width: 450px;
  background-color: #000;

  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
}
.info img {
  border-radius: 47%;
  width: 150px;
  height: 170px;
  cursor: pointer;
}
.info h1 {
  font-size: 35px;
  font-weight: 200;
}
.info h5 {
  font-weight: 150;
}

.info p {
  text-align: justify;
}
ul {
  margin: 0;
  padding: 0;
}
.info li {
  display: inline-block;
  margin: 6px;
  list-style: none;
  margin-top: 20px;
}
.info li a {
  color: white;
  font-size: 50px;
  transition: all ease-in-out 250ms;
}
.info li a:hover {
  color: #b9b9b9;
}
